.podcast-player-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.podcast-player-footer .aleat,
.podcast-player-footer .start,
.podcast-player-footer .end,
.podcast-player-footer .upload {
  width: 50px;
}

.podcast-player-footer .boton {
  width: 75px;
  text-align: center;
}

.podcast-player-footer .volume {
  width: 190px;
  text-align: center;
  margin-left: 30px;
}

.podcast-player-footer .timer {
  flex-grow: 1;
  max-width: 576px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.timer .timeleft {
  width: 82px;
  text-align: right;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}

.timer .progressline {
  flex-grow: 1;
}

.timer .timeend {
  width: 72px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.3);
}
